Wordatown.App/App.UI/Styles/Android.css
Wordatown.App/App.UI/Styles/Common.css
Wordatown.App/App.UI/Styles/Windows.css
/Wordatown.Web/GCopReport.json
Wordatown.App/Run/UWP/project.lock.json
Wordatown.App/Run/UWP/UWP.nuget.props
Wordatown.App/App.UI/Styles/iOS.css
/Wordatown.Web/Website/UserData
/Wordatown.Web/Domain/[GEN-Entities]
/Core/Wordatown.Web/Wordatown.Web/Website/UserData
Wordatown.App/App.UI/Styles/PlatformSpecific/iOS.css
Wordatown.App/App.UI/Styles/PlatformSpecific/Windows.css
Wordatown.App/App.UI/Styles/PlatformSpecific/Android.css
Wordatown.App/App.UI/Views/.zebble-schema.xml
*.htm
/Wordatown.Web/Website/API/ClassDiagram1.cd
/Wordatown.Web/ClassDiagram1.emf
/WordUpAdmin/bin/Debug/netcoreapp2.1
/API List.xlsx
WordUpAdmin/.vs/
WordUpAdmin/WordUpAdmin.csproj.user
.vs
bin
obj
/News/News.JsonCompiler/News.JsonCompiler.csproj.user
/News/News.JsonCompiler/News.JsonCompiler.csproj.user
Wordatown.Web/Website/wwwroot/styles/Blank.css
Wordatown.Web/Website/wwwroot/styles/FrontEnd-Modal.css
Wordatown.Web/Website/wwwroot/styles/FrontEnd.css
Wordatown.Web/Website/yarn.lock
Wordatown.Web/Website/public/OxfordData/Entries/
WorkingFiles/
Wordatown.App/App.UI/Styles/Features/LargeText.css
Wordatown.Web/Website/public/OxfordData/
Wordatown.Web/Website/public/xml/
Wordatown.Web/Website/data/Translations/
Wordatown.Web/Website/wwwroot/scripts/lib/
Wordatown.Web/node_modules/
/Wordatown.App/Run/UWP/AppPackages
/Wordatown.App/Run/UWP/BundleArtifacts
/Wordatown.App/Run/UWP/_pkginfo.txt
/Services/ContentProduction/WordupMusic/packages
/Services/ContentProduction/WordupMusic/NetflixMVC/node_modules
/Services/ContentProduction/WordUpVideo/NetflixMVC/node_modules
/Services/ContentProduction/WordUpVideo/packages
/Services/ContentProduction/WordupMusic/NetflixMVC/NetflixMVC.csproj.user
/Services/ContentProduction/WordupMusic/NetflixCLI/NetflixCLI.csproj.user
/Services/ContentProduction/WordUpVideo/NetflixMVC/NetflixMVC.csproj.user
/Services/ContentProduction/WordUpVideo/NetflixCLI/NetflixCLI.csproj.user
*.csproj.user
Wordatown.Web/M#/UI/SchemaExtensions.cs
Services/ContentProduction/ExampleProcessor/Transcripts/
Services/ContentProduction/ExampleSelector/Results/
Services/ContentProduction/Music/ExampleProcessor/SongsForMissingWords/
Services/ContentProduction/Music/ExampleProcessor/SpotifyLinkFiles/
Services/ContentProduction/Music/ExampleProcessor/Transcripts/
Services/ContentProduction/Music/SongClipGenerator/Results/
Services/ContentProduction/Music/SongClipGenerator/Temp/
Services/ContentProduction/ExampleSelector/Domain/Properties/PublishProfiles/
Services/ContentProduction/ExampleSelector/Example/Properties/PublishProfiles/
Services/ContentProduction/Music/SongClipGenerator/Properties/PublishProfiles/
Services/ContentProduction/Music/SongClipImporter/Properties/PublishProfiles/
Services/ContentProduction/WordUpVideo/NetflixMVC/yarn.lock
Services/ContentProduction/PhotoAdmin/Website/yarn.lock
Services/ContentProduction/Music/TranscriptionManager/Transcripts/
Services/ContentProduction/VideoNew/subfiles/


Services/MyWordUp/Domain/\[GEN-DAL\]/
Services/MyWordUp/Domain/\[GEN-Entities\]/
 

Services/MyWordUp/Website/Modules/
Services/MyWordUp/Website/@Modules/
Services/MyWordUp/Website/@TempImageFiles/
Services/MyWordUp/Website/app_start/TaskManager.cs
Services/MyWordUp/Website/Pages/
Services/MyWordUp/Website/vwd.webinfo
Services/MyWordUp/Website/Web.SiteMap
Services/MyWordUp/Website/App_Data/RepairAttachment.File/
Services/MyWordUp/Website/Content/themes/

Services/MyWordUp/@Assemblies/CKEditor.NET.dll
Services/MyWordUp/@Assemblies/Geeks.Html2PDF.Winnovative.dll
Services/MyWordUp/@Assemblies/System.Web.Optimization.Less.dll
Services/MyWordUp/@Assemblies/wnvhtmltopdf.dll
Services/MyWordUp/@Resources/
Services/MyWordUp/Website/bower_components/
Services/MyWordUp/Website/wwwroot/lib/
Services/MyWordUp/Website/node_modules/


Services/MyWordUp/Website/Views/Pages/
Services/MyWordUp/Website/Views/Modules/
Services/MyWordUp/Website/Controllers/Pages/
Services/MyWordUp/Website/Controllers/Modules/

Services/MyWordUp/Website/wwwroot/styles/**/*.css
!Services/MyWordUp/Website/wwwroot/styles/readme.txt
!Services/MyWordUp/Website/wwwroot/fonts/*
!Services/MyWordUp/Website/wwwroot/fonts/readme.txt
Services/MyWordUp/Website/wwwroot/scripts/**/*.js
!Services/MyWordUp/Website/wwwroot/scripts/readme.txt

!Services/MyWordUp/Website/wwwroot/scripts/ckeditor_config.js
!Services/MyWordUp/Website/wwwroot/scripts/references.js
!Services/MyWordUp/Website/wwwroot/scripts/components/js-only/*

Services/MyWordUp//packages/

Services/MyWordUp/M#/Current/Stats.json
Services/MyWordUp/M#/lib/*
!Services/MyWordUp/M#/lib/netcoreapp*/
Services/MyWordUp/M#/lib/netcoreapp*/*
!Services/MyWordUp/M#/lib/netcoreapp*/MSharp.DSL.runtimeconfig.json
Services/MyWordUp/M#/UI/SchemaExtensions.cs
Services/MyWordUp/M#/lib/
WordkingFiles/
Services/Music/TranscriptionManager/Transcripts/
Services/Music/ExampleProcessor/Transcripts/
Services/WordupMusic/NetflixMVC/node_modules/
Services/ExampleSelector/Results/
Services/Music/ExampleProcessor/SongsForMissingWords/
Services/Music/ExampleProcessor/SpotifyLinkFiles/
Services/VideoNew/subfiles/
Services/WordupMusic/packages/
Services/WordUpVideo/NetflixMVC/node_modules/
Services/WordUpVideo/packages/
Phrases/
Services/User/GlobalPricing/wwwroot/lib/
